.form-horizontal .controls {
    padding: 40px 0;
}

.form-horizontal .control-label {
    padding-top: 50px;
}

.form-horizontal input[type="text"], .form-horizontal input[type="password"], .form-horizontal textarea {
    width: 80%;
    height: 40px;
}